// Define variables for your color scheme

// For example:
$red: #e5554f;
$blue: #00A5BD;
$dark-blue: #005670;
$yellow: #F9B233;
$orange: #E67E22;
$green: #1EDD88;
$gray: #262626;
$light-gray: #F4F4F4;
