// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Import local fonts

@font-face {
  font-family:'IntroBold';
  src:font-url('IntroBold.otf');
}
@font-face {
  font-family:'IntroRegular';
  src:font-url('IntroRegular.otf');
}
@font-face {
  font-family:'IntroSemiBold';
  src:font-url('IntroSemiBold.otf');
}
@font-face {
  font-family:'IntroSemiBoldCaps';
  src:font-url('IntroSemiBoldCaps.otf');
}

@font-face {
  font-family:'IntroBlackCaps';
  src:font-url('IntroBlackCaps.otf');
}

// Define fonts for body and headers
$body-font: "IntroRegular", "Arial", "sans-serif";
$headers-font: "IntroSemiBold", "Arial";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
