<%= simple_form_for [article, comment] do |f| %>
  <div class="comment-form">
    <%= f.input :body, placeholder: "Commentaire..." %>
  </div>
  <%= f.submit "Commenter", class: "btn btn-primary" %>
<% end %>
