<div class="container">
  <h1>Articles favoris</h1>
  <p>Nombre de favoris : <%= @articles.count %></p>
  <% if @articles.empty? %>
    <p>Il n'y a pas (encore) d'article publié à cette date.</p>
  <% else %>
    <%= render 'shared/articlecards' %>
  <% end %>
</div>
