<div class="container">
  <h1>Gestion des newsletters</h1>
  <div class="card article-show">
      <div class ="row justify-content-end action-admin">
            <%= link_to new_newsletter_path do %>
            <i class="fas fa-plus-circle"></i> Ajouter une newsletter
            <% end %>
          </div>
  <div class="card-body">
    <h5 class="card-title">
      <% @newsletters.each do |newsletter| %> <!--  <<<<= TO DO ORDER -->
        <% if newsletter.status == 'draft' %>
          <i class="far fa-paper-plane"></i> &nbsp;
          <% else %>
          <i class="fas fa-paper-plane"></i> &nbsp;
          <% end %>
        <%= link_to "#{newsletter.title}", edit_newsletter_path(newsletter) %>
        <hr>
      <% end %>
      </h5>
    </div>
  </div>
</div>
