<div class="container">
  <div class="card">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <%= link_to " Créer une newsletter", new_newsletter_path, class: 'nav-link far fa-plus-square'  %>
      </li>
    </ul>
  <div class="card-header">
    Gestion des newsletters
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <% @newsletters.each do |newsletter| %> <!--  <<<<= TO DO ORDER -->
        <%= link_to "[#{newsletter.status.upcase}] #{newsletter.title}", edit_newsletter_path(newsletter) %>
        <hr>
      <% end %>
      </h5>
    </div>
  </div>
</div>
