<div class="container">
  <h1>Créer une newsletter</h1>
    <%= simple_form_for @newsletter, url: newsletters_path, method: :post do |a| %>
      <%= a.input :title, label: "Titre de la newsletter" %>
      <%= a.input :press_review_date, label: "date de la revue de presse" %>
      <%= a.submit "Créer" %>
    <% end %>
</div>
