<div class="navbar navbar-expand navbar-dark sticky-top navtabs">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="/articles"><i class="fas fa-newspaper fa-fw"></i><span class="sr-only">(current)</span> Revues de presse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search"><i class="fas fa-search fa-fw"></i> Trouver un article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tags"><i class="fas fa-tags fa-fw"></i> Thématiques</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articles/new"><i class="fas fa-file-medical fa-fw"></i> Ajouter un article</a>
      </li>
    </ul>
  </div>
</div>
