.actions {
  font-size: 1.2em;
  text-align: center;
  padding-top: 4px;
}
.action-star a {
  margin: 4px;
  color: $middlegray;
  &:hover {
    color: $yellow;
  }
}

.action-star-title a {
  margin: 4px 0px;
  color: $yellow;
  font-size: 1.5em;
  &:hover {
    color: $red;
  }
}

.action-star-title.col-md-1 {
  padding-right: 0px;
  text-align: right;
}


a.active-star {
  color: $yellow;
  &:hover {
    color: $red;
  }
}

.action-edit a{
  margin: 4px;
  color: $middlegray;
  &:hover {
    color: $darkblue;
  }
}

.action-delete a {
  margin: 4px;
  color: $middlegray;
  &:hover {
    color: $red;
  }
}
