.animate-opacity {
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0.8s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: opac;
}
