.home {
  text-align: left;
  padding: 0 auto;
}

.btn-tag {
  border: 1px solid #005670;
  padding: 4px 8px;
  margin: 4px;
  color: #005670;
  &:hover {
    background-color: #005670;
    color: white;
  }
}

.save-draft, .publish {
  margin-right: 8px;
}
