.navbar-lewagon {
  background-color: #fff;
  transition: 0.5s background-color ease;  display: flex;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-content: space-between;
  padding: 1.0rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  z-index: 10;
}

.navbar .navbar-brand img {
  height: 60px;
}

.navbar .nav-item {
  font-size: 1.5em;
}

.dropdown-item a:hover{
  color: #00A5BD;
}
