.tag-row {
  border-bottom: 2px solid white;
  padding: 8px 0px;
  &:hover {
    background-color: #fff;
  }
}

.tag-draft a {
  color: $gray;
}

.action-admin {
  text-align: right;
  margin: 8px 0px;
}
